:root {
  --shadow-white: white;
  --shadow-gray: #c8d0e7;
  --bg-gray: #e4ebf5;
  --text-purple: #6d5dfc;
  --shadow-blue: #eaeaea;
}

#createContainer {
  box-shadow: 0 15px 30px 1px #2193b0;
  //background: linear-gradient(rgba(10, 91, 128, 0.699), rgba(10, 90, 128, 0.3));
  background-color: #ffffffd7;
  text-align: center;
  border-radius: 25px;
  overflow: hidden;
  margin-left: 8%;
  margin-top: 5em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.imageStyle {
  height: 600px;
  width: 600px;
  max-width: 1900px;
  max-height: 1200px;
  margin-left: 55em;
  margin-top: -20%;
}

.imageStyle2 {
  height: 600px;
  width: 750px;
  max-width: 1900px;
  max-height: 1200px;
  margin-left: 65em;
  margin-top: -20%;
}

.imageStyle3{
  height: 800px;
  width: 750px;
  max-width: 1900px;
  max-height: 1200px;
  margin-left: 60em;
  margin-top: -30%;
}


.imageStyle4{
  height: 700px;
  width: 650px;
  max-width: 1900px;
  max-height: 1200px;
  margin-left: 55em;
  margin-top: -30%;
}

.Logo {
  background-image: url(./LastOne.png);
}

