.big-container{
    background-color: transparent;
}
.fm{
    background-color: transparent;
}
.modal{
    background-color: transparent;
}
.input{
    border-radius: 5px;
}
.button{
    border-color: #2193B0;
    background-color: #2193B0;
    width: 50%;
    height: 50%;
    margin-top: 10px;
    text-align: center;
}