.reset-password {
    #root {
      background-image: url("../Assets/login.jpeg");
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      background-repeat: no-repeat;
      height: 100%;
    }
  }
  
  .reset-password-container {
    width: 40%;
    margin: 2% 30% 5%;
    padding: 8% 7%;
    background-color: rgba(255, 255, 255, 0.787);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 50px;
    box-shadow: 5px 5px 5px rgb(165, 162, 162);
  }
  
  
  .text {
    color: black;
    font-size: 14px;
  }
  
  
  