.updateCard {
  width: 80%;
  margin: 5% auto;
  background-color: rgba(255, 250, 250);
  border-color: transparent;
  border-radius: 50px;
  box-shadow: 5px 4px 40px #ffffff;
  transition: 0.3s;
}

.updateForm {
  margin: 0 auto;
}
.spanstyle {
  font-weight: bold;
  color: rgb(83, 137, 145);
}

#menu{
  margin-Left: 38%;
}
